.chat
  .chat-hedder
    .chat-hedder__edit
      =link_to edit_group_path(@group), class: "chat-hedder__edit__link" do
        Edit
    .chat-hedder__title
      
    .chat-hedder__member
      Menber : seo neko
    
  .chat-messages
    = render @posts
    
  .chat-form
    = form_for [@group, @post] do |f|
      = f.text_field :content, class: "input-box", placeholder: 'type a message'
      .input-icon
        = f.label :image, class: "image" do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'send'